@function rem($px){
  @return $px  / 50 + rem;
}

*{
  margin: 0;
  padding: 0;
}

article{
  display: none;
}

html{
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  background: #f9ba00;
}

body{
  margin-top: rem(50);
}

h2{
  font-size: rem(24);
  text-align: center;
  margin-bottom: rem(30);
}

.demo {
  //height: rem(510);
  margin: rem(10);
  border: 1px solid #ffe23f;
  background: #fff;
  position: relative;
  .start_button {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 2.6rem;
    top: 3.0rem;
    width: rem(95);
    height: rem(55);
    line-height: rem(55);
    font-size: rem(20);
    text-align: center;
    background: aliceblue;
  }
  .one {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //margin-top: rem(5);
    margin-bottom: rem(5);
    font-size: rem(18);
    .row_item {
      width: rem(115);
      height: rem(115);
      line-height: rem(115);
      text-align: center;
      background: #f0f0f0;
    }
    .row_item-active {
      width: rem(115);
      height: rem(115);
      line-height: rem(115);
      text-align: center;
      background: aquamarine;
      animation: blink 1s 3;
    }
    @keyframes blink{
      to {
        color: transparent;
      }
    }
  }
}
