
html{
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}
body {
  margin: 0 auto;
  padding: 10px;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}
h1 {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

p {
  display: block;
  line-height: 1.6;
  //font-size: 16px;
}

div{
  padding: 0;
  margin: 0;
}

.page-wrap {
  //width: 100%;

  .news-title{
    padding-top: 10px;
    margin: 5px 0 5px 0;
    color: #1a1a1a;
    font-weight: bold;
    word-break: break-all;

  }

  .news-source{
    font-size: 12px;
    margin-bottom: 5px;
    color: #999;
  }

  .news-time{
    margin-left: 10px;
  }

  .news-content {
    font-size: 16px;
    margin: 5px 0;
    text-align: justify;
    line-break: normal;
    word-wrap: break-word;
    word-break: normal;

  }

  .news-content img {
    //width: 50%;
    display: block;
    margin: 5px auto;
    max-width: 100% !important;
    height: auto !important;
  }

  .news-content span {
    color: #337FE5;
  }

  .news-reads {
    line-height: 12px;
    height: 12px;
    font-size: 12px;
    margin-bottom: 6px;
    color: #999;
    margin-top: 6px;
  }


  .fabulous {
    display: inline-block;
    height: 8px;
    margin-left: 10px;
  }

  .fabulous img {
    height: 8px;
    vertical-align: center;
  }

  .fabulous span {
    margin-left: 4px;
    vertical-align: center;
  }

  .comment-submit {
    border-top: solid 1px #eeeeee;
    padding-top: 14px;
    margin-top: 14px;
  }

  .comment-submit textarea {
    width: 100%;
    height: 100px;
    border: solid 1px #eee;
    font-size: 14px;
    color: #333;
    padding: 5px;
    resize: none;
    border-radius: 4px;
    box-sizing: border-box;

  }

  .comment-submit .btnwrap {
    text-align: right;
    line-height: 24px;
    height: 24px;
    display: block;
    vertical-align: center;
  }

  .comment-submit .btnwrap span {
    display: inline-block;
    padding: 2px 4px;
    line-height: 18px;
    font-size: 14px;
    background-color: #237cda;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    vertical-align: top;
  }

  .relevant-wrap {
    padding: 0px 0px;
  }

  .news-con {
    margin-top: 10px;
  }

  .mo-sharetitle {
    margin-top: 40px ;
    font-size: 18px;
    //font-size: 18px;
    color: #999;
    border-top: 1px solid #eee;
  }

  .mo-sharetitle p {
    margin-top: -12px;
    text-align: center;
  }

  .mo-sharetitle span {
    display: inline-block;
    padding: 0 12px;
    background-color: #fff;
  }

  .mo-sharebtn {
    display: flex;
    display: -webkit-flex;
    margin-bottom: rem(0);
  }

  .mo-sharebtn p {
    flex: 1;
    text-align: center;
    font-size: 0;
    cursor: pointer;
  }

  .mo-sharebtn .text {
    margin-top: -12px;
    display: inline-block;
    font-size: 12px;
    color: #666;
    font-style: normal;
  }

  .mo-sharebtn .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../../static/img/sharebtn.png) no-repeat center center;
    background-size: auto 40px;
  }



  .qq {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: url(../../static/img/sharebtn.png) no-repeat center center;
    background-size: auto 80px;
    line-height: 80px;
    background-position: left center;
  }

  .mo-sharebtn .pyq {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: url(../../static/img/sharebtn.png) no-repeat center center;
    background-size: auto 80px;
    background-position: -80px center;
  }

  .mo-sharebtn .wx {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: url(../../static/img/sharebtn.png) no-repeat center center;
    background-size: auto 80px;
    background-position: -160px center;
  }

  .mo-sharebtn .xl {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: url(../../static/img/sharebtn.png) no-repeat center center;
    background-size: auto 80px;
    background-position: -240px center;
  }

  .share-em {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }



}