@charset "UTF-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

b, strong, h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

i, em {
    font-style: normal;
}

li {
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

/* a:visited {color:#000;} */

html {
    height: 100%;
}

body {
    font-family: 'Microsoft YaHei';
    height: 100%;
    background: #fffbe7
}

input {
    border: none;
    background: none;
    outline: none;
}

select {
    border: none;
    background: none;
    outline: none;
}

textarea {
    border: none;
    outline: none;
    resize: none;
}

/* 数字输入框去掉上下箭头 */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input::-webkit-input-placeholder {
    font-size: 0.24rem;
    color: #ccc;
    line-height: 1.1rem
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

body {
    min-width: 300px;
    max-width: 750px;
    margin: 0 auto;
}

.box {}

.box a {}

.box .banner {
    width: 100%;
}

.box .inputs {
    font-size: 0.38rem;
}

.box .inputs p {
    margin: 0 auto 0.3rem;
    width: 5.3rem;
}

.box .inputs input {
    line-height: 1.1rem;
    padding: 0 0.3rem;
    height: 1.1rem;
    font-size: 0.26rem;
    color: #593404;
}

.box .inputs input::-webkit-input-placeholder {
    color: #593404;
    font-size: 0.26rem;
}

.box .inputs a, .box .inputs a {
    line-height: 1.1rem;
    height: 1.1rem;
    font-size: 0.28rem;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}

.box .inputs .sub {
    background: #B62511;
    line-height: 1.1rem;
    text-align: center;
    height: 1.1rem;
    color: #fff;
    font-size: 0.32rem;
}

.box .inputs p {
    border-bottom: 1px solid #593404;
}

.box div.txt {
    text-align: center;
    color: #C77F00;
    font-size: 0.26rem;
}

.box .inputs .codeGet {
    width: 1.5rem;
    position: relative;
    color: #CE240C;
    z-index: 100;
}

.box .inputs .codeTxt {
    width: 3.09rem;
}

.box .inputs .sub {
    margin-top: 0.9rem;
    display: block;
    width: 5.3rem;
}

.box .inputs .phone {
    width: 5.3rem;
}

.box .inputs .codeBox {
    display: none;
}

.box .inputs .codeBox img {
    width: 2.55rem;
}

.prompt, .method, .rule {
    position: relative;
}

.prompt .bt, .method .bt, .rule .bt {
    position: absolute;
    width: 1.69rem;
    height: 0.57rem;
    background: url(../images/tf.png) no-repeat 0;
    background-size: 2.09rem;
    line-height: 0.55rem;
    text-align: center;
    padding-right: 0.4rem;
    -webkit-text-stroke: 0.01rem #cc7d0a;
    font-weight: bold;
}

.prompt ul, .method ul, .rule ul {
    padding: 0.9rem 0 0.4rem;
    width: 5.87rem;
    margin: 0 auto;
    line-height: 0.4rem;
}

.box .method ul li span {
    width: 0.34rem;
    height: 0.34rem;
    line-height: 0.34rem;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    background: #f9ba00;
    margin-right: 0.2rem;
}

.box .method img, .box .method ul {
    line-height: 0.6rem;
    width: 5.3rem;
    display: block;
    margin: 0 auto;
}

.confirm {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.confirm .confirm_clihd {
    width: 6rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -3.05rem;
}

.confirm .confirm_clihd .btn {
    border-radius: 0.25rem;
    padding: 0.15rem 0.3rem;
    font-size: 0.3rem;
    background: #ffe76a;
    color: #ff6b1c;
    text-align: center;
    width: 3rem;
    display: block;
    margin: 0 auto;
}

#confirm .confirm_clihd, #phone .confirm_clihd {
    padding-bottom: 0.3rem;
    background: -webkit-linear-gradient(top, rgba(245, 90, 90, 1), rgba(217, 50, 50, 1), rgba(217, 50, 50, 1), rgba(185, 12, 12, 1));
    border-radius: 0.5rem;
    margin-top: -1.2rem;
}

#confirm .confirm_clihd .confirm_text {
    color: #fff;
    text-align: center;
    font-size: 0.26rem;
    margin: 0.4rem 0;
    padding: 0 0.2rem;
}