@function rem($px){// px转rem
    @return $px/50 + rem;
}

html{
    max-width: 750px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    background: #fffbe7;
}

article{
    display: none;
}

body {
    background: #f0f0f0;
    display: block;
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
}

header {
    color: #fff;
    font-weight: 500;
    background-color: #00a0e9;
}

a img, fieldset, img {
    border: 0;
    //-webkit-user-drag: none;
}


ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 50%;
    //width: rem(180);
    list-style: none;
}

li {
    padding: 0;
    margin: 6% 3%;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .2);
    display: list-item;
}

.fn-contain {
    width: 100%;
    overflow: hidden;
    margin: auto;
    position: relative;
}

.tp-header {
    width: 100%;
    position: relative;

    .tp-header-time {
        width: 100%;
        height: rem(28);
        line-height: rem(28);
        color: #fff;
        background: #000;
        text-align: center;
        font-size: rem(16);
    }

    .tp-header-img {
        width: 100%;
        display: block;
    }

    .tp-header-nav {
        width: 100%;
        background: #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: rem(8);
        line-height: rem(54);
        display: flex;

        .tp-header-nav-child {
            flex: 1;
            text-align: center;


            img {
                width: rem(24);
                height: rem(24);
                margin: rem(8) ;
                display: block;
                vertical-align: middle;
            }

            .icon1 {
                width: rem(40);
                height: rem(40);
                line-height: rem(40);
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                background-color: #f38759;

            }

            .font1 {
                font-size: rem(14);
                line-height: rem(18);
                display: block;
                height: rem(18);
                color: #f38759;
            }


            .icon2 {
                width: rem(40);
                height: rem(40);
                line-height: rem(40);
                border-radius: 50%;
                display: inline-block;
                background-color: #53bcec;
            }

            .font2 {
                font-size: rem(14);
                line-height: rem(18);
                display: block;
                height: rem(18);
                color: #53bcec;
            }


            .icon3 {
                width: rem(40);
                height: rem(40);
                line-height: rem(40);
                border-radius: 50%;
                display: inline-block;
                background-color: #b8dc58;
            }


            .font3 {
                font-size: rem(14);
                line-height: rem(18);
                display: block;
                height: rem(18);
                color: #b8dc58;
            }
        }
    }

}

.tp-section {
    padding: 0 rem(2);
    width: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;

    .tp-section-search {
        background: #fff;
        height: rem(30);
        margin: rem(10) rem(6);
        border-radius: rem(8);
        padding: rem(1);
        text-align: center;
        display: flex;
        box-sizing: border-box;

        .tp-section-search-icon {
            width: rem(12);
            height: rem(12);
            margin: rem(8);
            float: left;
        }

        .tp-section-search-input {
            outline: 0;
            -webkit-appearance: none;
            border: none;
            width: 60%;
            font-size: rem(14);
            margin: 0 auto;
            height: rem(26);
            line-height: rem(26);
            display: block;

        }

        .tp-section-search-button {
            width: rem(40);
            height: rem(20);
            margin: rem(4) rem(4);
            float: right;
            font-size: rem(14);
            background-color: #ff5f3f;
            color: #fff;
            line-height: rem(20);
            border-radius: rem(4);
        }

    }

    .tp-section-info {
        width: 100%;
        display: flex;
        line-height: rem(20);

        .tp-section-info-detail {
            flex: 1 1;
            text-align: center;

            .tp-section-info-span1-color1 {
                font-size: rem(24);
                font-weight: 700;
                color: #fea928;
            }
            .tp-section-info-span2-color1 {
                font-size: rem(14);
                font-weight: 500;
                margin-left: rem(4);
                color: #fea928;
            }
            .tp-section-info-span1-color2 {
                font-size: rem(24);
                font-weight: 700;
                color: #ff5f3d;
            }
            .tp-section-info-span2-color2 {
                font-size: rem(14);
                margin-left: rem(4);
                font-weight: 500;
                color: #ff5f3d;
            }
            .tp-section-info-span1-color3 {
                font-size: rem(24);
                font-weight: 700;
                color: #46ca40;
            }
            .tp-section-info-span2-color3 {
                font-size: rem(14);
                margin-left: rem(4);
                font-weight: 500;
                color: #46ca40;
            }
            .tp-section-info-span3 {
                font-size: rem(14);
                display: block;
                margin-top: rem(4);
                letter-spacing: rem(0.2);
            }


        }
    }

    .tp-section-pbl {
        position: relative;
        margin: 0;
        padding: 0;

        .tp-section-pbl-info {
            height: rem(82);
            width: 100%;
            //-webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: rem(6) ;

            .tp-section-pbl-info-span1 {
                line-height: rem(22);
                width: 100%;
                display: block;
                height: rem(22);
                overflow: hidden;
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                white-space: nowrap;
                font-size: rem(20);
            }

            .tp-section-pbl-info-span2 {
                line-height: rem(24);
                height: rem(24);
                width: 100%;
                display: block;
                color: #b3b3b3;
                font-size: rem(18);
            }

            .tp-section-pbl-info-span3 {
                font-size: rem(22);
                line-height: rem(22);
                height: rem(22);
                display: inline-block;
                float: left;
                color: #ff5f3f;
                font-weight: 700;
            }

            .tp-section-pbl-info-span4 {
                line-height: rem(20);
                display: inline-block;
                float: right;
                width: rem(46);
                height: rem(20);
                margin-top: rem(2);
                border-radius: rem(10);
                font-size: rem(12);
                text-align: center;
                background-color: #b3b3b3;
                color: #fff;
            }

            .tp-section-pbl-info-span5 {
                font-size: rem(14);
            }

        }


    }

    .fn-left {
        float: left;
        display: inline;
    }
    .fn-right {
        float: right;
        display: inline;
    }

    .imgbar {
        overflow: hidden;
    }

    .imgbar img {
        //display: block;
        width: 100%;

    }


}





