body {
  line-height: 1.6;
  max-width: 640px;
  min-width: 320px;
  margin: 10px 10px auto;
  padding-bottom: 2rem;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}
h1 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

p {
  display: block;
  font-size: 3em;
}



.page-wrap {
  width: 100%;

  .news-title{
    padding-top: 1.3em;
    margin: 0.24rem 0 0.12rem 0;
    color: #1a1a1a;
    font-weight: bold;
    word-break: break-all;

  }

  .news-source{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    color: #999;
  }

  .news-time{
    margin-left: 10px;
  }

  .news-content {
    font-size: 0.36rem;
    margin: 0.24rem 0;
    text-align: justify;
    line-break: normal;
    word-wrap: break-word;
    word-break: normal;
  }

  .news-content img {
    display: block;
    margin: 0.15rem auto;
    max-width: 100% !important;
    height: auto !important;
  }

  .news-content span {
    color: #337FE5;
  }

  .news-reads {
    line-height: 0.24rem;
    height: 0.24rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    color: #999;
    margin-top: 0.07rem;
  }


  .fabulous {
    display: inline-block;
    height: 0.8rem;
    margin-left: 1rem;
  }

  .fabulous img {
    height: 0.6rem;
    vertical-align: center;
  }

  .fabulous span {
    margin-left: 0.1rem;
    vertical-align: center;
  }

  .comment-submit {
    border-top: solid 1px #eeeeee;
    padding-top: 1rem;
    margin-top: 1rem;
  }

  .comment-submit textarea {
    width: 100%;
    height: 6rem;
    border: solid 1px #eee;
    font-size: 1rem;
    color: #333;
    padding: 0.4rem;
    resize: none;
    box-sizing: border-box;

  }

  .comment-submit .btnwrap {
    text-align: right;
    margin-top: 0.2rem;
  }

  .comment-submit .btnwrap span {
    display: inline-block;
    padding: 0.2rem 0.4rem;
    line-height: 1.4rem;
    font-size: 1rem;
    background-color: #237cda;
    text-align: center;
    border-radius: 0.2rem;
    color: #fff;
  }

  .relevant-wrap {
    padding: 0px 0px;
  }

  .news-con {
    margin-top: 10px;
  }

  .mo-sharetitle {
    margin-top: 3rem ;
    font-size: 0.36rem;
    color: #999;
    border-top: 1.5px solid #eee;
  }

  .mo-sharetitle p {
    margin-top: -0.8rem;
    text-align: center;
  }

  .mo-sharetitle span {
    display: inline-block;
    padding: 0 1rem;
    background-color: #fff;
  }

  .mo-sharebtn {
    display: flex;
    display: -webkit-flex;
    margin-bottom: 2rem;
  }

  .mo-sharebtn p {
    flex: 1;
    text-align: center;
    font-size: 0;
    cursor: pointer;
  }

  .mo-sharebtn .text {
    margin-top: -0.12rem;
    display: inline-block;
    //width: 1.28rem;
    font-size: 0.8rem;
    color: #666;
    font-style: normal;
  }

  .mo-sharebtn .icon {
    display: inline-block;
    width: 1.28rem;
    height: 1.28rem;
    background: url(../../static/img/sharebtn.png) no-repeat center center;
    background-size: auto 1.28rem;
  }



  .qq {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background: url(../../static/img/sharebtn.png) no-repeat center center;
    background-size: auto 4rem;
    background-position: left center;
  }

  .mo-sharebtn .pyq {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background: url(../../static/img/sharebtn.png) no-repeat center center;
    background-size: auto 4rem;
    background-position: -4rem center;
  }

  .mo-sharebtn .wx {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background: url(../../static/img/sharebtn.png) no-repeat center center;
    background-size: auto 4rem;
    background-position: -8rem center;
  }

  .mo-sharebtn .xl {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background: url(../../static/img/sharebtn.png) no-repeat center center;
    background-size: auto 4rem;
    background-position: -12rem center;
  }

  .share-em {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}