.wrap {
  padding: 0pt;
  display: flex;

  p {
    margin: 0;
  }

  .item-img {
    width: 120px;
    height: 86px;
    border-radius: 4px;
  }

  .item-info {
    margin-left: 10px;
    //display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      .title {
        font-size: 14px;
        color: rgba(0, 0, 0, 1);
      }

      .type {
        font-size: 12px;
        color: rgba(153, 153, 153, 1);
      }
    }

    .bottom {
      .time {
        font-size: 11px;
        color: rgba(153, 153, 153, 1);
        line-height: 16px;
      }
    }
  }
}
